NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
OPENAI_API_KEY=
OPENAI_MODEL_CHANGELOG_GENERATE=
OPENAI_MODEL_EVIDENCE_STRUCTURE=
OPENAI_MODEL_RESUME_GENERATE=
RESUMEEVOLVER_TEST_MODE=
SUPABASE_AUTH_EXTERNAL_GITHUB_CLIENT_ID=
SUPABASE_AUTH_EXTERNAL_GITHUB_SECRET=
